@charset "UTF-8";
body {
    line-height: 1.7;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #000;
}
a,
a:link {
    color: #3585b7;
}
a:visited {
    color: #888;
}
a:hover {
    text-decoration: none;
    color: #3585b7;
}
@media screen and (max-width:767px) {
    body {
        font-size: 15px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

/* header */
header .grobal_nav {
    display: flex;
}
header h1 {
    margin: 20px 0 0 20px;
}
header h1 img {
    height: 100px;
    width: 200px;
}
header nav {
    margin: 0 0 0 auto;
}
header nav ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #888;
}
header nav ul li a:hover {
    color: #00b6bd;
}

@media screen and (max-width:767px) {
    header {
        display: block;
    }
    header h1 {
        margin: 10px 0 0;
        text-align: center;
    }
    header h1 img {
        width: 150px;
    }
    header nav ul {
        margin: 0;
        flex-wrap: wrap;
    }
    header nav ul li {
        width: 25%;
    }
    header nav ul li:last-child {
        width: 100%;
    }
    header nav ul li a,
    header nav ul li a:link,
    header nav ul li a:visited {
        padding: 10px 0;
        text-align: center;
    }
    header nav ul li:last-child a {
        background: #00b6bd;
        color: #fff;
    }
}

/* footer */
footer {
    background: #152349;
    padding: 20px;
}
footer ul {
    list-style-type: none;
    margin: 0 0 5px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
footer ul li {
    margin: 0 0 0 20px;
}
footer ul li a,
footer ul li a:link,
footer ul li a:visited {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
}
footer ul li a:hover {
    color: #00b6bd;
}
footer p {
    margin: 0;
    text-align: right;
    color: #fff;
}

/* main */
main .inner {
    width: 990px;
    margin: 50px auto;
}
main .category-box
main h2 {
    margin: 50px 0 20px;
    font-weight: normal;
    font-size: 25px;
    color: #00b6bd;
}
main p{
    margin: 0 0 15px;
}
main dl {
    width: 100%;
}
main dl dt {
    float: left;
    clear: both;
    padding: 10px 0;
}
main dl dd {
    border-bottom: solid 1px #ccc;
    margin: 0;
    padding: 10px 0 10px 15%;
}
main .title {
    padding: 50px;
    background: #152349;
}
main .title h1 {
    margin: 0;
    line-height: 1;
    font-size: 40px;
    color: #fff;
}
main .title ol {
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    color:#fff;
}
main .title ol li {
    font-size: 13px;
}
main .title ol li::after {
    content: ">";
    margin: 0 5px 0 10px;
}
main .title ol li:last-child::after {
    content: none;
}
main table {
    width: 100%;
    margin-bottom: 30px;
}
main table,
main table th,
main table td {
    border: solid 1px #ccc;
    border-collapse: collapse;
}
main table th,
main table td {
    padding: 10px;
}
main table th {
    background: #f2f8f8;
    color: #00b6bd;
}
main ul {
    margin: 0 0 60px;
    padding: 0 0 0 20px;
}
@media screen and (max-width:767px) {
    main .inner {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    main h2 {
        margin: 40px 0 15px;
        font-size: 20px;
    }
    main dl dt {
        float: none;
        padding: 0;
    }
    main dl dd {
        margin: 0 0 10px;
        padding: 10px 0 10px 0;
    }
    main .title {
        padding: 30px 20px;
    }
    main .title h1 {
        text-align: center;
        font-size: 25px;
    }
    main .title ol {
        margin: 20px 0 0;
        display: flex;
        justify-content: center;
    }
    main .title ol li {
        font-size: 12px;
    }
}
.goro_title {
    border-bottom: solid 5px #152349;
}
.goro_contents {
    margin: 0 0 80px 0;
}
.goro_box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.goro_box p {
    margin: 0; 
    padding: 0;
    color: #5d627b;}
.goro_point {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #152349;
}
.goro_point .gorobox-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #152349;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.goro_point p {
    margin: 0; 
    padding: 0;
}
/* home */
.home main .visual {
    background-color: #152349;
    height: 550px;
    padding: 50px 0 0;
    box-sizing: border-box;
}
.home main .visual p {
    text-align: center;
}
.home main section {
    display: flex;
    margin-top: 50px;
}
.home main section div {
    padding: 0 40px 0 0;
}
.home main section:first-child {
    flex-direction: row-reverse;
}
.home main section:first-child div {
    padding: 0 0 0 40px;
}
@media screen and (max-width:767px) {
    .home main .visual {
        background-size: cover;
        height: 200px;
        padding: 40px 30px 0;
    }
    .home main section {
        display: block;
    }
    .home main section div,
    .home main section:first-child div {
        padding: 0;
    }
}

/* category */
.memory main .category-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.memory main .category-box div {
    width: 475px;
}
.memory main h2 {
    margin-top: 0;
    clear: left;
}
@media screen and (max-width:767px) {
    .memory main .category-box {
        display: block;
    }
    .memory main .category-box div {
        width: 100%;
    }
}

/*memory*/
main .inner_box {
    display: flex;
}
main .memory_box {
    margin-bottom: 150px;
}
main .memory_box p img {
    float:left;
    margin-right: 25px;
}
main .memory_category {
    padding: 0.5em 1em;
    margin: 2em 15px;
    font-weight: bold;
    color: #6091d3;
    background: #fff;
    border-radius: 30px;
    border: solid 3px #6091d3;/*線*/

    width: 150px;
    justify-content: space-evenly;
}
.memory_category p {
    margin: 0; 
    padding: 0;
    text-align:center;
}
.memory_category p a,
.memory_category p a:link,
.memory_category p a:before,
.memory_category p:visited {
color: #6091d3;
text-decoration: none;
}
.memory_category p a:hover {
    color: #888;
}

/* price */
.price main table {
    border: none;
}
.price main table th,
.price main table td {
    text-align: center;
}
.price main table thead th {
    background: #00b6bd;
    width: 40%;
    font-size: 18px;
    color: #fff;
}
.price main table thead th:first-child {
    background: none;
    border: none;
    width: 20%;
}
.price main table td {
    font-size: 20px;
}
.price main table td span {
    display: block;
    font-size: 0.8em;
}
.price main .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price main .gallery p {
    margin: 0 0 10px;
    line-height: 1;
}
@media screen and (max-width:767px) {
    .price main table th,
    .price main table td,
    .price main table thead th {
        font-size: 15px;
    }
    .price main table th {
        padding: 10px 5px;
    }
}

/* entry */
.entry main .must {
    margin: 0 5px;
    color: #d23939;
}
.entry main p {
    margin: 0 0 50px;
}
.entry main dl dd {
    padding-left: 15em;
}
.entry main input,
.entry main textarea,
.entry main select {
    border: solid 1px #ccc;
    padding: 5px;
    box-sizing: border-box;
}
.entry main input[name="email"] {
    width: 50%;
}
.entry main textarea {
    width: 100%;
}
.entry main .submit {
    margin: 10px 0;
    text-align: center;
}
.entry main input[type="submit"] {
    background: #00b6bd;
    border: none;
    border-radius: 35px;
    margin: 20px 0 50px;
    padding: 20px;
    width: 300px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.entry main input[type="submit"]:hover {
    opacity: 0.8;
}
@media screen and (max-width:767px) {
    .entry main dl dd {
        padding-left: 0;
    }
    .entry main input[type="submit"] {
        box-sizing: border-box;
        max-width: 80%;
    }
}

/*other*/


/*profile*/
.profile_inner {
    text-align: center;
}
.profile-box ul {
list-style-type: none;
}

/* sitemap */
.sitemap main ul {
    margin-top: 50px;
}
.sitemap main ul li {
    margin: 0 0 20px;
}
